name: CI

on:
  push:
    branches:
        - master
  pull_request:

jobs:
  cargo-tests:
    name: Cargo tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Run cargo tests
        run: cargo test --all-targets

  deno-tests:
    name: Deno tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: denoland/setup-deno@v1
        with:
          deno-version: latest
      - name: Build silk binary
        run: cargo build
      - name: Run deno tests
        run: deno test --allow-write --allow-run --allow-read
